.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.child {
  padding: 20px;
  border: 1px solid red;
}

.btn {
  padding: 8px 12px;
  background-color: aquamarine;
  cursor: pointer;
  outline: unset;
  border: none;
  border-radius: 4px;
}

body {
  padding: 20px;
}